/* button */
.el-button--primary:focus,
.el-button--primary:hover {
  background: #de0b0b;
  color: #fff;
  border: 1px solid #de0b0b;
}
.el-button--primary {
  color: #fff;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.el-button--info:focus,
.el-button--info:hover {
  background: #f1f5f9;
  color: #44556f;
}
.el-button--info {
  color: #475569;
  background: #f1f5f9;
  border: none;
}

/* form */
.el-form-item__label {
  font-size: 15px;
  font-family: var(--font-primary-light);
  color: black;
  font-weight: bold;
  line-height: 36px;
}
.el-form--label-top .el-form-item__label {
  padding: 0 0 0px;
}
.el-input__inner {
  border: 1px solid #e2e8f0;
  height: 43px;
  border-radius: 8px;
  background: #f8fafc;
}
.el-input-number__decrease,
.el-input-number__increase {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-input {
  font-size: 16px;
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: var(--color-primary);
  outline: 0;
}
.el-select-dropdown__item.selected {
  color: var(--color-primary);
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}
.el-form-item {
  margin-bottom: 10px;
}

/* checkbox */
.el-checkbox {
  display: flex;
}
.el-checkbox,
.el-checkbox__input {
  white-space: inherit;
}

/* message */
.el-message-box__title span {
  font-size: 19px;
}
.el-message-box__headerbtn .el-message-box__close {
  color: #191a1b;
  font-weight: bold;
}
