/* button */
.el-button--primary:focus,
.el-button--primary:hover {
  background: #de0b0b;
  color: #fff;
  border: 1px solid #de0b0b;
}
.el-button--primary {
  color: #fff;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
}

.el-button--info:focus,
.el-button--info:hover {
  background: #f1f5f9;
  color: #44556f;
}
.el-button--info {
  color: #64748b;
  background: #f1f5f9;
  border: none;
  border-radius: 8px;
}

/* form */
.el-form-item__label {
  font-size: 15px;
  font-family: var(--font-primary-light);
  color: black;
  font-weight: bold;
  line-height: 36px;
}
.el-form--label-top .el-form-item__label {
  padding: 0 0 0px;
}
.el-input__inner {
  border: 1px solid #e2e8f0;
  height: 43px;
  border-radius: 8px;
  background: #f8fafc;
}
.el-input-number__decrease,
.el-input-number__increase {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-input {
  font-size: 16px;
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: var(--color-primary);
  outline: 0;
}
.el-select-dropdown__item.selected {
  color: var(--color-primary);
}
.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}
.el-form-item {
  margin-bottom: 10px;
}
.search_input .el-input__inner {
  border: none;
  outline: 0;
}

/* checkbox */
.el-checkbox {
  display: flex;
}
.el-checkbox,
.el-checkbox__input {
  white-space: inherit;
}

/* message */
.el-message-box__title span {
  font-size: 19px;
}
.el-message-box__headerbtn .el-message-box__close {
  color: #191a1b;
  font-weight: bold;
}

/* upload */
.el-upload-dragger {
  background: #f8fafc;
  width: 570px;
}

/* tabs */
.el-tabs--card .el-tabs__item.is-active {
  color: #101112;
  background: white;
}
.el-tabs--card .el-tabs__item {
  color: white;
}
.el-tabs--card {
  border-radius: 8px;
}
.el-tabs--card > .el-tabs__header {
  border-bottom: none;
  margin: 0;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  border-left: 1px solid grey;
}
.el-tabs__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 14px;
  height: 50px;
  width: 120px;
  box-sizing: border-box;
  font-weight: 500;
  color: #303133;
  position: relative;
}

.el-tabs--top.el-tabs--card > .el-tabs__header .el-tabs__item {
  padding-left: 0;
}
.el-tabs--top.el-tabs--card > .el-tabs__header .el-tabs__item:last-child {
  padding-right: 0;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: none;
  background: rgba(68, 68, 68, 0.4);
  backdrop-filter: blur(3px);
}
.el-tabs__nav-scroll {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* home card tabs */
.el-tabs--border-card {
  border: none;
  box-shadow: none;
  color: black;
}
.el-tabs--border-card > .el-tabs__header {
  background: #f8fafc;
}
.el-tabs--border-card > .el-tabs__header > .el-tabs__nav-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1270px;
  width: 100%;
  height: auto;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item {
  border: none;
  width: fit-content;
  height: 8px;
  padding: 20px;
  margin: 10px 50px;
  color: #64748b;
  border-radius: 7px;
}

.el-tabs--border-card
  > .el-tabs__header
  .el-tabs__item:not(.is-disabled):hover {
  color: black;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  background: #e2e8f0;
  color: black;
}
.el-card__body {
  padding: 0;
}
.el-tabs__item {
  color: #64748b;
}
.el-tabs__active-bar {
  background-color: var(--color-primary);
}
.el-tabs__item.is-active {
  color: #1e293b;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.el-textarea__inner {
  height: 150px;
}

/* dialog */

.el-dialog {
  border-radius: 18px;
}

@media (max-width: 425px) {
  .el-dialog {
    width: 100% !important;
  }
}

.el-select > .el-input {
  width: 100%;
  max-width: 350px;
}
